*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800&display=swap');

body {
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

#background_image1 {
    min-height: 70vh;
    background-size: contain;
}

nav {
    height: 10vh;
    filter: drop-shadow(3px 4px 5px #3A3A3A);
}

.nav:hover{
    color:  #24a9e2 !important;
}

header i:hover{
    color: #24a9e2;
}

header{
    border-bottom: solid 1px gray;
}

footer img{
    width: 100%;
}

main{
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 72px;
    background: -webkit-linear-gradient(222deg, #3398DB, #8E43AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 50px !important;
}

h4 {
    font-size: 35px;
    color: #646464;
}

.p_home {
    font-size: 20px;
    color: #646464;
}

.imagen_home_animales {
    filter: drop-shadow(2px 5px 5px #3A3A3A);
}

.boton {
    background-color: #24a9e2;
    border: none;
    color: white;
    padding: 7px 7px 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 5px;
}

.boton:hover {
    transform: scale(1.2);
    background-color: #24a9e2;
}

.form-control1 {
    height: 2.5em;
    width: 15em;
    border-radius: 20px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1)
        rgba(255, 255, 255, 0.1)
    );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: grey;
    font-size: 20px;
    gap: 20px;
}

.form-control2 {
    height: 2.5em;
    width: 15em;
    border-radius: 20px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1)
        rgba(255, 255, 255, 0.1)
    );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.form-control3 {
    height: 8em;
    width: 15em;
    border-radius: 20px;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.1)
        rgba(255, 255, 255, 0.1)
    );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.name_form {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.email_form {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

.card_body{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

/* MAIN */
main #cont_card_remedios , main #cont_card_juguetes {
    padding: 20% ; 
    gap: 10rem;
    height: 100%;
}

/* CARTA COMIDA */
#cont_card_remedios .item , #cont_card_juguetes .item{
    /* background-color: #e2ac24; */
    width: 11rem;
    height: 20rem;
}

#cont_card_remedios .card , #cont_card_juguetes .card{
    height: 77%;
    border-radius: 2rem;
    margin-bottom: 0.5rem;
}

#cont_card_remedios .card p , #cont_card_juguetes .card p{
    color: #24a9e2;
    margin: 0%;
    width: 80%;
    height: 10%;
    text-align: end;
    font-weight: bolder;
}

#cont_card_remedios .card img , #cont_card_juguetes .card img{
    border-radius: 2rem !important;
    height: 60%;
    object-fit: contain;
}

#cont_card_remedios .card .card_body , #cont_card_juguetes .card .card_body{
    padding: 0.2em;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30%;
    background-color: #24a9e2;
}

#cont_card_remedios .card .card_body .card_text , #cont_card_juguetes .card .card_body .card_text{
    width: 100%;
    height: 80%;
    font-size: 0.8rem;
    text-align: center;
    color: white;
}

#cont_card_remedios .boton_card , #cont_card_juguetes .boton_card {
    border: solid 1px rgb(191, 188, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fcfcfc;
    border-radius: 1rem;
    width: 100%;
    height: 14%;
}

#cont_card_remedios .boton_card p , #cont_card_juguetes .boton_card p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    color: #24a9e2;
    width: 70%;
    height: 80%;
    text-align: center;
    font-weight: 650;
    font-size: 1rem;
}

#cont_card_remedios .boton_card a , #cont_card_juguetes .boton_card a {
    display: flex;
    align-items: center;
    height: 80%;
}

#cont_card_remedios .boton_card img , #cont_card_juguetes .boton_card img {
    mask-size: cover;
    fill: rgb(36, 145, 72);
    height: 50%;
}

.mapa_contacto {
    border-radius: 10px;
    box-shadow: 4px 5px 5px #3A3A3A;
}

.container-form {
    border-radius: 10px;
    filter: drop-shadow(4px 5px 5px #3A3A3A);
}

.img-fluid{
    height: 80px;
}

/* INICIO FOOTER */

.footer_css {
    min-height: 60vh;
    background-image: url(../images/footer.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    /* box-shadow: 5px 5px 5px #3A3A3A; */
}            

.footer_contenido {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* justify-items: space-between; */
    padding: 1rem;
}

.iconos_footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.descarga_footer {
    width: 100px;
    height: 75px;
}

.imagen_pagos {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    gap: 10px;
}

.master_logo {
    width: 50px;
    height: 40px;
}

.visa_logo {
    width: 70px;
    height: 25px;
}

.footer_seccion2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer_contenido .footer_seccion2 p{
    margin: 0;
}

.footer_seccion3 .icon{
    display: flex;
    justify-content: center;
    gap: 0.3em;
}

/*/////////////////DARK MODE//////////////////*/
[data-theme="light"] {
        background-image: url(../images/fondo1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-blend-mode: hard-light;
        --primary : #1e8fc0;
    
}

[data-theme="dark"] {
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: hard-light;
    --primary : #ed7bda;
    --text: #fff;
}



/* Estilos del switch */

.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 38px;
    border: solid 3px black;
    border-radius: 15px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--background);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}